.search-content {
  min-height: 40rem;
}

.search-title-bg {
  margin: 30px 0;
  padding: 4rem 0;
  box-shadow: 0 2rem 5rem rgba(8, 111, 184, 0.283);
}
.search-title {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px 0;
  padding-bottom: 100px;
  color: white;
  mix-blend-mode: difference;
}
.search-found {
  padding: 5px 0;
}
.search-span {
  margin: 0 5px;
}

.search-result {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  img {
    background-color: #333;
    border-radius: 5px;
    &:nth-child(even) {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }
    &::nth-child(odd) {
      grid-column-end: span 3;
      grid-row-end: span 4;
    }
  }
}
