.search-content {
  min-height: 400px;
}

.search-title-bg {
  margin: 30px 0;
  padding: 4rem 0;
  box-shadow: 0 2rem 5rem rgba(8, 111, 184, 0.283);
}
.search-title {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px 0;
  padding-bottom: 100px;
  color: white;
  mix-blend-mode: difference;
}
.search-found {
  padding: 5px 0;
}
.search-span {
  margin: 0 5px;
}

.search-result {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 2rem auto;
  grid-gap: 3rem;
  @media (max-width: 1199px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  img {
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }
}

.search-container {
  margin-bottom: 200px;
}
