.related-movies-filter-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  button {
    margin-right: 10px;
    border: none;
    background-color: #dd003f;
    color: #ffffff;
    padding: 11px 25px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in-out 300ms;
    &:hover {
      background-color: #dcf836;
      color: #020d18;
    }
  }
}
.rmf-pagination {
  display: flex;
}
