@import "../../SCSS/variable";
// -------- Share & Add to favorites red circles  --------
.social-btn-parent {
  display: flex;
  margin-bottom: 40px;
}
.social-btn-parent .social-btn {
  font-family: "Dosis", sans-serif;
  font-size: 1.4rem;
  color: $red;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 35px;
  i {
    padding: 13px 14px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $red;
    margin-right: 10px;
    font-size: 1.6rem;
  }
}
