/* -------------------------------------------------*/
/*                Global
/*-------------------------------------------------*/

.container {
  width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
h1 {
  font-family: "Dosis", sans-serif;
  font-size: 3.6rem;
  color: $white;
  font-weight: 700;
  text-transform: none;
}
h2 {
  font-family: "Dosis", sans-serif;
  font-size: 2.4rem;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* spotlight celeb title */
.sb-title {
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #405266;
}
h4 {
  font-family: "Dosis", sans-serif;
  font-size: 1.4rem;
  color: $white;
  font-weight: bold;
}

/* movie trailer title and spotlight celebrities*/
h6 {
  font-family: "Dosis", sans-serif;
  font-size: 1.4rem;
  color: $white;
  font-weight: bold;
  cursor: pointer;
}
p {
  color: $gray;
  font-size: 1.4rem;
}

/* movie vertical carousel */
.time {
  display: block;
  font-size: 1rem;
  margin-top: 4px;
  font-weight: 100;
}
.darkbg {
  background: $darkGray;
}
.lightBg {
  background: $lightGray;
}
.selectedLink {
  color: $yellowGreen;
}

// youtube style
.player-wrapper {
  position: relative;
  padding-top: 81.25%; /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.yellowStar {
  font-size: 3.6rem;
  color: $yellowStar;
}
