@import "./mixins";

/* ---------------------------*/
/*                Global
/*---------------------------*/

.container {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
  // overflow: hidden;
}

a {
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  color: $white;
  font-weight: 700;
  text-transform: none;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}

/* spotlight celeb title */
.sb-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #405266;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: $white;
  font-weight: bold;
}

/* movie trailer title and spotlight celebrities*/
h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: $white;
  font-weight: bold;
  cursor: pointer;
}
p {
  color: $gray;
  font-size: 1.4rem;
  line-height: 1.5;
}

/* movie vertical carousel */
.time {
  display: block;
  font-size: 1rem;
  margin-top: 4px;
  font-weight: 100;
}
.darkbg {
  background: $darkGray;
}
.lightBg {
  background: $lightGray;
}
.selectedLink {
  color: $yellowGreen;
}

// youtube style
.player-wrapper {
  position: relative;
  padding-top: 81.25%; /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.yellowStar {
  font-size: 3.6rem;
  color: $yellowStar;
}
// ------ blue text ------
.blue-text {
  color: $darkBlue;
  &:hover {
    color: $yellowGreen;
  }
}

// ------ Blue border | T | R | B | L --------
.brT {
  border-top: 1px solid $border-gray;
}
.brR {
  border-right: 1px solid $border-gray;
}
.brB {
  border-bottom: 1px solid $border-gray;
}
.brL {
  border-left: 1px solid $border-gray;
}
.no-data-message {
  color: gray;
  font-size: 1.5rem;
  text-decoration: line-through;
  &:hover {
    text-decoration: none;
  }
}

.red-btn {
  border: none;
  background-color: #dd003f;
  color: #ffffff;
  padding: 11px 25px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.blue-pills {
  background-color: #1692bb;
  @include pills;
}
.yellow-pills {
  background-color: #f5b50a;
  @include pills;
}
.orange-pills {
  background-color: #ec5a1a;
  @include pills;
}

.anchor {
  @include anchor-links;
  border: none;
  background: inherit;
  margin-right: 10px;
  &:hover {
    color: $yellowGreen;
  }
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: uppercase;
}

.mTitle {
  font-family: "Roboto", sans-serif;
  font-size: 7rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 550px;
  margin-top: 10px;
  margin-bottom: 0;
}
.text-gray {
  color: $gray;
}
.text-red {
  color: $red;
}
.text-blue {
  color: $darkBlue;
}
#testing {
  padding: 15px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #020d18;
  z-index: 99999;
  text-align: center;
}
#spinner {
  position: relative;
  width: 70px;
  height: 70px;
  top: 35%;
  margin: 0 auto;
  right: 35px;
  span:nth-child(1) {
    border: 5px solid #dcf836;
    border-top: 5px solid transparent;
    width: 70px;
    height: 70px;
    animation: spin1 2s infinite linear;
  }
  span:nth-child(2) {
    border: 5px solid #dd003f;
    border-top: 5px solid transparent;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    animation: spin2 1s infinite linear;
    margin-left: 35px;
  }
}
.logo {
  background-image: url("../assets/jblogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

// Trailer Modal close button overide css
.modal-video-close-btn {
  border-radius: 50% !important;
  background: inherit;
  background-image: url("../assets/youtube-close-btn.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  &::before,
  &::after {
    display: none;
  }
}
