@mixin pills {
  padding: 3px 5px;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  margin-right: 6px;
  text-transform: uppercase;
}
@mixin anchor-links {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin button {
  margin: 1rem 0;
  font-size: 1vw;
  font-weight: 700;
  margin-right: 1rem;
  padding: 0.9rem 2.3rem;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: transform 350ms cubic-bezier(0.86, 0, 0.07, 1),
      -webkit-transform 350ms cubic-bezier(0.86, 0, 0.07, 1),
      -moz-transform 350ms cubic-bezier(0.86, 0, 0.07, 1),
      -o-transform 350ms cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@mixin bn-shadow {
  -webkit-box-shadow: inset 15px -33px 111px 38px rgba(2, 13, 24, 1);
  -moz-box-shadow: inset 15px -33px 111px 38px rgba(2, 13, 24, 1);
  box-shadow: inset 15px -33px 111px 38px rgba(2, 13, 24, 1);
}
@mixin sl-shadow {
  -webkit-box-shadow: 4px 16px 88px 53px rgba(2, 13, 24, 1);
  -moz-box-shadow: 4px 16px 88px 53px rgba(2, 13, 24, 1);
  box-shadow: 4px 16px 88px 53px rgba(2, 13, 24, 1);
}
