/* VARIABLES ======> */
$black: #020d18;
$red: #dd033f;
$gray: #abb7c4;
$btnText: #fcebef;
$cArrow: #cacdd0;
$yellowGreen: #dcf836;
$white: #ffffff;
$darkGray: #06121e;
$lightGray: #0b1a2a;
$blue: #1c3e5d;
$yellowStar: #f5b50a;
$darkBlue: #4280bf;

$span-year-release: #4f5b68;
$border-gray: #405266;
$movie-btn-bg: #07101a;
$movie-btn-border: #0c1c2c;
