/* VARIABLES ======> */
$black: #020d18;
$red: #dd033f;
$aTag: #abb7c4;
$btnText: #fcebef;
$cArrow: #cacdd0;
$yellowGreen: #dcf836;
$white: #ffffff;
$darkGray: #06121e;
$lightGray: #0b1a2a;
$blue: #1c3e5d;
$pTag: #abb7c4;
