@import "./variable";
/* ---------------------
                 FOOTER
--------------------- */
footer {
  background-image: url("../assets/footerBg.jpg");
  background-position: center;
  background-size: cover;
}

// footer ul
.f-parent {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  @media (max-width: 600px) {
    justify-content: center;
  }
  ul {
    @media (max-width: 1199px) {
      padding-right: 5%;
    }
  }
  ul li {
    margin-bottom: 8px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    color: #abb7c4;
    text-transform: none;
    &:hover {
      color: $yellowGreen;
    }
  }
  .newsletter {
    @media (max-width: 600px) {
      line-height: 1.3;
    }
  }
}

.ft-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.ar-reserved {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.backtop {
  cursor: pointer;
  @media (max-width: 600px) {
    margin-top: 10px;
  }
  &:hover {
    color: $yellowGreen;
  }
}
