/* ---------------------
                 HEADER 
--------------------- */
.bg-overlay {
  background-image: url("../assets/homev2.jpg");
  background-position: center;
  background-size: cover;
}

/* ---------------------
     HEADER SLIDER STYLES
--------------------- */

.header-slider {
  .slider-item {
    display: flex !important;
    justify-content: center;
    padding-top: 40px;
  }
  .slider-content {
    width: 60%;
  }
  .slider-title {
    font-family: "Dosis", sans-serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    span {
      margin-left: 15px;
      font-family: "Dosis", sans-serif;
      font-size: 36px;
      color: #abb7c4;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
.slider-content-ul {
  display: flex;
  li {
    padding-right: 15px;
  }
  li > i.fa-star {
    font-size: 20px;
  }
}
.header-slider img {
  width: 270px;
  height: 414px;
  object-fit: cover;
  border-radius: 5px;
}

/* ---------------------
                 NAV
--------------------- */
nav.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  a {
    margin-right: 25px;
  }
}
