@import "./variable";
@import "./mixins";
/* ---------------------
                 HEADER 
--------------------- */
.bg-overlay {
  background-image: url("../assets/homev2.jpg");
  background-position: center;
  background-size: cover;
}

/* ---------------------
     HEADER SLIDER STYLES
--------------------- */

.header-slider {
  padding-left: 40px;
  margin-top: 100px;
  .slider-item {
    display: flex !important;
    justify-content: space-between;
    padding-right: 5%;
  }
  .slider-content {
    min-width: 62%;
  }
}
.slider-content-ul {
  display: flex;
  margin-bottom: 50px;
  li {
    padding-right: 15px;
  }
  li > i.fa-star {
    font-size: 20px;
  }
}
.header-slider .slider-image-right img {
  height: 414px;
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
}

/* ---------------------
                 NAV
--------------------- */
nav.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  a {
    margin-right: 25px;
    @include anchor-links;
    &:hover {
      color: $yellowGreen;
    }
  }
}
