@import "./variable";

// ---- background image ----
.spm-bg {
  height: 598px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.hero-content {
  position: relative;
}
// ----- Wrapper for single page left and right section -----
.spm-wrap {
  display: flex;
  margin-top: -316px;
  position: relative;
  margin-bottom: 300px;
}

// ----- Single page movie left Section big image & buttons -----
.spm-wrap .spm-left {
  margin-right: 50px;
  img {
    width: 330px;
    height: 505px;
    border-radius: 5px;
  }
  // -------- Buttons red & yellow  --------
  .movie-btn {
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: column;
    background-color: $movie-btn-bg;
    border: 3px solid $movie-btn-border;
    margin-top: -6px;
    button {
      margin-bottom: 15px;
      height: 45px;
      font-family: "Dosis", sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 13px 25px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
    .redbtn {
      background-color: #dd003f;
      color: #ffffff;
    }
    .yellowbtn {
      color: #020d18;
      background-color: #dcf836;
    }
  }
}

// ----- Single page movie right Section main content with tab -----
.spm-wrap .spm-right {
  // -------- movie title --------
  .bd-hd {
    margin-bottom: 25px;
    // ---- year release ---
    span {
      margin-left: 10px;
      font-family: "Dosis", sans-serif;
      font-size: 24px;
      color: $span-year-release;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  // ----- Movie Rate -----
  .movie-rate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
    margin-bottom: 70px;
    // ----- Rate  -----
    .rate {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      p {
        font-family: "Nunito", sans-serif;
        margin-bottom: 0;
        margin-left: 10px;
        font-size: 1.1rem;
        color: $gray;
        font-weight: 300;
        text-transform: none;
        line-height: 24px !important;
        span {
          color: $white;
          font-size: 1.5rem;
          font-weight: 400;
        }
        .rv {
          font-size: 1.2rem;
          color: $darkBlue;
        }
      }
    }
    // ----- Rate this movie -----
    .rate-star {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 30px;
      border-left: 1px solid #405266;
      padding-left: 30px;
      height: 54px;
      p {
        font-size: 1.8rem;
        color: $gray;
        margin-right: 15px;
        margin-bottom: 0;
      }
      .outline {
        font-size: 3.6rem;
        color: $gray;
      }
    }
  }
} // end of right section

// ----- overview -----
.spm-overview {
  display: flex;
}

// -------- single page ptag style ------
// i am using it for overview, review
.spm-paragraph {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  color: $gray;
  font-weight: 300;
  text-transform: none;
  line-height: 24px !important;
  margin-bottom: 10px;
}
//  ----- Videos trailer carousel -----
.sp-videos-wrap {
  display: flex;
  button {
    background: transparent;
    border: inherit;
    cursor: pointer;
    width: 70px;
  }
  button img {
    opacity: 0.5;
  }
  button img:hover {
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  .modal-video-close-btn {
    border-radius: 50%;
    background: inherit;
    background-image: url("../assets/youtube-close-btn.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    &::before,
    &::after {
      display: none;
    }
  }
  .sp-video-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 30px;
    border-radius: 5%;
    margin: 10px;
  }
}
//  ----- Cast -----
.cast-content {
  display: flex;
  align-items: center;
  padding: 15px 0;
  .movie-title {
    margin-right: auto;
  }
  img {
    margin-right: 15px;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  .movie-title {
    color: $darkBlue;
    font-size: 1.5rem;
  }
}
// ------- this is the h4 title and all anchor blue text --
// --- I'm reusing this for All title ---
.title-all-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #233a50;
  padding-bottom: 8px;
  margin-top: 30px;
  h4 {
    text-transform: uppercase;
  }
  .sub-heading {
    color: $darkBlue;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: none;
    cursor: pointer;
    &:hover {
      color: $yellowGreen;
    }
  }
  i {
    margin-left: 5px;
  }
}

// ------ Reviews ------
.sp-reviews {
  .readmore {
    color: $darkBlue;
  }
  h3 {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    color: #abb7c4;
    margin-bottom: 15px;
  }
}

// spm left content
.spm-overview-left {
  min-width: 70%;
}

// ---------- single page overview right side ----------
.spm-overview-right {
  width: 100%;
  margin-left: 50px;
  .spr-item {
    margin-bottom: 30px;
    margin-left: 30px;
  }
  h6 {
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    color: $gray;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  p {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
  }
  .keyword-parent {
    display: flex;
    flex-wrap: wrap;
  }
  .keywords {
    font-size: 1.2rem;
    background-color: #233a50;
    color: #abb7c4;
    padding: 1px 8px;
    border-radius: 2px;
    margin: 4px;
  }
}

// single page navigation Title
.single-page-movie-navTab {
  margin-top: 20px;
  margin-bottom: 50px;
  a {
    font-size: 1.8rem;
    padding-bottom: 15px;
    border-bottom: 3px solid transparent;
    font-family: "Dosis", sans-serif;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    &:hover {
      border-bottom: 3px solid $yellowGreen;
      color: $yellowGreen;
    }
  }
  .selected {
    border-bottom: 3px solid $yellowGreen;
    color: $yellowGreen;
  }
}
