.media-wrapper {
  .media-tab-videos-wrap {
    flex-wrap: wrap;

    .sp-video-item {
      padding: 40px 80px;
      margin: 20px;
    }
    .tab-media-item-content {
      max-width: 200px;
      margin-left: 25px;
      h6 {
        line-height: 1.4;
        margin-bottom: 50px;
      }
    }
  }
}
