@import "./variable";
.tab-header {
  h3 {
    font-size: 1.8rem;
    color: $gray;
  }
}

.review-total {
  margin-bottom: 50px;
  padding: 10px;
  p span {
    margin: 0 5px;
  }
}

.tab-reviews {
  .rev-item {
    padding-bottom: 15px;
    p a {
      display: block;
      padding-bottom: 15px;
    }
  }
}
