.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

h2 {
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;

  label {
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-top: 25px;
  }
  input {
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
    height: 42px;
    border: 1px solid #e1e1e1;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: 0;
  }
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-color: #fff;
  }
}
button {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #dd003f;
  height: 42px;
  width: 100%;
  cursor: pointer;
  margin: 30px 0;
}
